In [319]:
import pandas as pd
import numpy as np

# Reading the Movie Rating dataset

In [320]:
#Reading the file:
movie_movie_datasetdataset=pd.read_csv("movie_ratings.csv")
#Dropping user name column:

movie_ratings=movie_dataset.drop('users', axis=1)
print(movie_ratings.head(5))
print(" Shape of movie matrix is :", movie_ratings.shape)

   movie1  movie2  movie3  movie4  movie5  movie6  movie7  movie8  movie9  \
0     3.0     5.0     1.0     NaN     NaN     2.0     4.0     NaN     1.0
1     1.0     3.0     1.0     4.0     NaN     2.0     NaN     1.0     3.0
2     2.0     3.0     NaN     4.0     3.0     NaN     1.0     NaN     3.0
3     1.0     NaN     4.0     NaN     5.0     2.0     3.0     1.0     5.0
4     NaN     1.0     2.0     5.0     NaN     1.0     3.0     NaN     3.0

   movie10
0      4.0
1      3.0
2      5.0
3      NaN
4      1.0
 Shape of movie matrix is : (50, 10)

# Content based Matrix factorization using regularization:

In [321]:
# Function for matrix factorization:

def matrix_factorization(R, P, Q, K, steps=10000, alpha=0.0002, beta=0.02):
    Q = Q.T
    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in range(K):
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])
        eR = np.dot(P,Q)
        e = 0
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    for k in range(K):
                        e = e + (beta/2) * ( pow(P[i][k],2) + pow(Q[k][j],2) )
        #print(e)
        if e < 100:
            break
    return P, Q.T,e

# Defining all the parameters and calling the function:

In [338]:
#Defining all the parameters:

R = np.array(movie_ratings)
N = len(R)
M = len(R[0])
K = 3
P = np.random.rand(N,K)
#print(P.shape)
Q = np.random.rand(M,K) 
#print(Q.shape)

#Calling the function:

nP, nQ, e= matrix_factorization(R, P, Q, K)
print("Breakout Error form the function is", e)

#Combining it again as a full matrix
nR = np.dot(nP, nQ.T)
print(nR)

Breakout Error form the function is 251.4256118526567
[[ 2.22192713  4.5777817   0.78931214  4.03116789  1.85843455  2.22458062
   4.16829405  3.06822826  2.89385696  2.92793208]
 [ 1.73827448  3.17278756  1.68927892  3.08609757  1.39666861  1.92571228
   2.2041418   1.65604361  2.68816554  2.84329982]
 [ 2.02688555  2.66686176  4.44843002  4.16019821  2.73700666  2.42040161
   1.18449936  0.98011079  3.85839917  4.29233802]
 [ 2.09529223  2.60542661  4.68573897  5.26072839  4.49339027  2.17595321
   2.56200303  1.98878799  3.67726631  4.07702501]
 [ 1.25064579  1.49199944  2.60458464  4.26653804  4.61800928  0.87176643
   3.36155705  2.51634001  1.71966866  1.86682558]
 [ 1.97304033  3.23650849  2.64548645  4.16982862  2.77827429  2.05981615
   2.83478095  2.13899779  3.08407267  3.30367409]
 [ 1.62661824  2.02213974  3.55131906  4.36235097  3.96450427  1.57787817
   2.47634107  1.89670533  2.72282895  3.00607102]
 [ 2.87296277  5.40587354  2.57849617  4.45552637  1.18176697  3.37853286
   2.88264948  2.17868548  4.59427936  4.86551369]
 [ 1.52933517  2.50395678  1.87394302  3.83166252  3.1797533   1.35812581
   3.23886837  2.41201896  2.10985191  2.22277645]
 [ 1.61202403  4.38853891 -2.05050146  2.53917346  0.53638502  1.35494862
   4.79856512  3.4565792   1.2585588   1.00265531]
 [ 1.73861703  3.17315373  1.68982485  3.08814526  1.39944329  1.92561519
   2.206508    1.65778108  2.68825919  2.84336039]
 [ 2.81397262  5.2708042   2.28677343  5.31921147  2.7948316   2.93566774
   4.44478611  3.30853895  4.06871449  4.24804737]
 [ 2.5071207   4.62986018  2.50700894  3.78801541  0.87249932  3.02239793
   2.13854863  1.63279665  4.14097961  4.41361821]
 [ 2.3011022   4.78356125  1.49120977  1.68595905 -2.33880949  3.28482455
   0.04611449  0.084637    4.13987562  4.40610283]
 [ 2.26090043  3.43741938  3.65514429  5.01290814  3.62388768  2.37136388
   3.03737107  2.31200156  3.68273548  3.99231632]
 [ 1.97005644  3.74842942  1.14409612  4.6986879   3.61564535  1.64199495
   4.95670167  3.64856377  2.32886942  2.34158911]
 [ 1.5820424   2.51074279  2.50762647  2.8053227   1.31918439  1.90000512
   1.13457817  0.89545022  2.80986951  3.06381064]
 [ 1.31348476  1.06058638  4.1006372   4.28047404  4.57955549  1.19207659
   2.01576527  1.5720109   2.38738133  2.71259843]
 [ 2.04767753  3.00560813  3.59088194  4.52843269  3.27746926  2.1941157
   2.48318807  1.9056058   3.44428666  3.75792274]
 [ 2.69173373  4.61124166  3.55121865  4.27314482  1.34085033  3.30160157
   1.83229572  1.43548882  4.69287231  5.07264396]
 [ 2.5147687   4.03100668  3.42639373  5.91038122  4.57347156  2.42310495
   4.44250175  3.33126363  3.73786191  3.98752079]
 [ 1.65943523  2.69664005  1.86949898  4.84421022  4.62762168  1.20636013
   4.67288323  3.45664393  1.98226419  2.0436406 ]
 [ 2.51710644  5.04791026  1.66722841  3.23834046 -0.14720945  3.10597327
   2.0734209   1.56592216  4.04260293  4.25242238]
 [ 1.68844367  2.45458271  3.01271021  3.76335198  2.75610903  1.80661881
   2.04458177  1.57034048  2.84885229  3.11167129]
 [ 1.97803662  4.06771294  0.85168997  3.17727255  0.95177475  2.14822713
   2.97118579  2.19658315  2.77918425  2.85206003]
 [ 2.02655802  4.82954166 -0.44869853  2.04458025 -1.19037837  2.42964568
   2.43940659  1.77959538  2.78783935  2.78354878]
 [ 2.15048341  4.9517625  -0.43044435  3.43851408  0.93213043  2.13672289
   4.41834792  3.22135014  2.52088615  2.44374089]
 [ 1.96971741  3.74816954  1.14313792  4.69715117  3.61372257  1.64185496
   4.9554552   3.64763177  2.32844529  2.34111918]
 [ 2.00498991  4.4806481   0.37891534  1.83898189 -1.44965847  2.59271938
   1.40757742  1.04764228  3.13111602  3.23360595]
 [ 1.99987243  4.75696214 -0.36751551  1.85191907 -1.4569271   2.46755864
   2.09573305  1.53113851  2.83858595  2.85325773]
 [ 1.83940547  3.53942657  0.87954589  4.66308311  3.84232999  1.40714509
   5.20335953  3.82101798  2.00514793  1.97819485]
 [ 2.61035981  4.77086363  2.54972032  4.54181017  1.93812283  2.92649415
   3.16193353  2.37943494  4.07479166  4.31493936]
 [ 1.79143163  2.56828984  3.3290637   3.86586161  2.71205752  1.98168195
   1.86360225  1.44670126  3.11760775  3.4196366 ]
 [ 1.05673606  1.12557368  2.42477005  3.99690123  4.59164656  0.63187749
   3.2179835   2.40627084  1.3962874   1.52255865]
 [ 1.68859446  4.59145208 -2.07307245  2.46733494  0.23345806  1.49858524
   4.67596832  3.36736209  1.4151961   1.16763084]
 [ 2.10031143  3.42989157  2.60875247  5.22330157  4.30162864  1.88422968
   4.35932537  3.24874671  2.92462771  3.08618125]
 [ 2.87299205  5.40685535  2.57661329  4.45406692  1.17907237  3.37881142
   2.88216547  2.17828957  4.59415266  4.86526067]
 [ 1.23158707  1.22729388  4.17651318  1.05835536 -0.79439817  2.21196158
  -2.76251458 -1.90486035  3.42074333  3.9455519 ]
 [ 1.89753886  2.52579517  3.7051673   5.11618727  4.64760376  1.76511008
   3.3198297   2.51617829  3.00322531  3.28120231]
 [ 2.28575804  3.49358208  3.78589514  4.63026761  2.91229214  2.56576597
   2.34456148  1.81093273  3.91381709  4.26417904]
 [ 2.21552049  3.30649382  3.78802803  4.7629813   3.30459681  2.40760068
   2.57210316  1.9761075   3.73927174  4.0757292 ]
 [ 1.73823505  3.17262195  1.68932081  3.08653765  1.39752285  1.92550044
   2.20477212  1.6565031   2.6879518   2.84306055]
 [ 1.59816234  1.61372207  4.48329228  4.17527068  3.75899496  1.73918824
   1.38192454  1.12157483  3.08588888  3.48629156]
 [ 1.33892118  2.39011661  1.3865203   2.54506503  1.3708062   1.43679963
   1.86916304  1.40233034  2.0422709   2.16135272]
 [ 1.14407219  1.42286432  2.71123487  2.38526333  1.62005264  1.38328247
   0.5442944   0.46741069  2.23936414  2.50526402]
 [ 1.90872382  3.62747999  1.04308302  4.79487976  3.91845808  1.49534268
   5.21823574  3.83614459  2.14511256  2.13496605]
 [ 1.73821931  3.1727028   1.68909822  3.08627312  1.39708984  1.92553537
   2.20458852  1.65636417  2.68793483  2.84303265]
 [ 1.63273957  3.21358617  0.85839207  3.30567526  1.97461522  1.55526909
   3.32067537  2.44867148  2.10737824  2.14362716]
 [ 2.36340597  4.43281192  1.77877933  4.86945049  3.03402439  2.30221623
   4.45229651  3.29897974  3.22034067  3.32983224]
 [ 2.61056907  4.77133381  2.5500029   4.54120944  1.93661524  2.92708147
   3.16069486  2.3785414   4.07549308  4.31572832]]

# Comparing matrices and inserting predicted values in the original matrix :

In [339]:
# Replacing all the movie rating by -1 that are already watched by users:

def eliminating_watched_movies(R):
    for i in range(len(R)):
            for j in range(len(R[i])):
                if not np.isnan(R[i][j]): 
                    R[i][j]=-1               
    return R

In [340]:
# Adding predictions to this matrix:

def Adding_predictions(R,nR):
    #First calling the function eliminating_watched_movies:
    eliminating_watched_movies(R)
    for i in range(len(R)):
            for j in range(len(R[i])):
                if np.isnan(R[i][j]): 
                    R[i][j]=nR[i][j]             
    return R

# Preparing the final matrix:

In [341]:
#Final Matrix of ratings to use for recommendation:

Adding_predictions(R,nR)

array([[-1.        , -1.        , -1.        ,  4.03116789,  1.85843455,
        -1.        , -1.        ,  3.06822826, -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  1.39666861,
        -1.        ,  2.2041418 , -1.        , -1.        , -1.        ],
       [-1.        , -1.        ,  4.44843002, -1.        , -1.        ,
         2.42040161, -1.        ,  0.98011079, -1.        , -1.        ],
       [-1.        ,  2.60542661, -1.        ,  5.26072839, -1.        ,
        -1.        , -1.        , -1.        , -1.        ,  4.07702501],
       [ 1.25064579, -1.        , -1.        , -1.        ,  4.61800928,
        -1.        , -1.        ,  2.51634001, -1.        , -1.        ],
       [-1.        ,  3.23650849,  2.64548645,  4.16982862,  2.77827429,
        -1.        , -1.        , -1.        ,  3.08407267, -1.        ],
       [ 1.62661824, -1.        , -1.        , -1.        ,  3.96450427,
        -1.        , -1.        , -1.        , -1.        ,  3.00607102],
       [-1.        , -1.        , -1.        , -1.        ,  1.18176697,
        -1.        ,  2.88264948, -1.        , -1.        , -1.        ],
       [ 1.52933517, -1.        , -1.        , -1.        , -1.        ,
         1.35812581, -1.        , -1.        , -1.        ,  2.22277645],
       [-1.        , -1.        , -2.05050146, -1.        ,  0.53638502,
        -1.        ,  4.79856512, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  1.39944329,
        -1.        ,  2.206508  , -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  2.7948316 ,
        -1.        ,  4.44478611, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        , -1.        ,
         3.02239793, -1.        , -1.        ,  4.14097961, -1.        ],
       [-1.        , -1.        , -1.        , -1.        , -2.33880949,
        -1.        ,  0.04611449, -1.        ,  4.13987562,  4.40610283],
       [-1.        , -1.        , -1.        ,  5.01290814,  3.62388768,
         2.37136388, -1.        ,  2.31200156, -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  3.61564535,
        -1.        ,  4.95670167, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        ,  2.8053227 , -1.        ,
        -1.        ,  1.13457817, -1.        , -1.        , -1.        ],
       [-1.        ,  1.06058638, -1.        ,  4.28047404, -1.        ,
        -1.        , -1.        , -1.        , -1.        ,  2.71259843],
       [-1.        , -1.        ,  3.59088194, -1.        ,  3.27746926,
        -1.        , -1.        ,  1.9056058 , -1.        , -1.        ],
       [ 2.69173373, -1.        , -1.        ,  4.27314482, -1.        ,
        -1.        , -1.        ,  1.43548882, -1.        ,  5.07264396],
       [-1.        , -1.        , -1.        ,  5.91038122, -1.        ,
         2.42310495, -1.        ,  3.33126363, -1.        , -1.        ],
       [-1.        ,  2.69664005, -1.        ,  4.84421022, -1.        ,
        -1.        ,  4.67288323, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        , -0.14720945,
        -1.        , -1.        ,  1.56592216, -1.        , -1.        ],
       [-1.        , -1.        , -1.        ,  3.76335198, -1.        ,
        -1.        ,  2.04458177, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  0.95177475,
        -1.        ,  2.97118579, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -0.44869853, -1.        , -1.19037837,
         2.42964568,  2.43940659, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -0.43044435,  3.43851408, -1.        ,
         2.13672289, -1.        , -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  3.61372257,
        -1.        ,  4.9554552 , -1.        , -1.        , -1.        ],
       [-1.        , -1.        ,  0.37891534, -1.        , -1.44965847,
        -1.        , -1.        ,  1.04764228, -1.        , -1.        ],
       [ 1.99987243, -1.        , -0.36751551,  1.85191907, -1.4569271 ,
        -1.        , -1.        ,  1.53113851, -1.        ,  2.85325773],
       [-1.        , -1.        ,  0.87954589,  4.66308311, -1.        ,
         1.40714509, -1.        , -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  1.93812283,
        -1.        ,  3.16193353, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        ,  3.86586161, -1.        ,
        -1.        ,  1.86360225, -1.        , -1.        , -1.        ],
       [-1.        ,  1.12557368, -1.        ,  3.99690123, -1.        ,
        -1.        ,  3.2179835 , -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -2.07307245, -1.        ,  0.23345806,
        -1.        , -1.        ,  3.36736209,  1.4151961 , -1.        ],
       [ 2.10031143, -1.        , -1.        , -1.        ,  4.30162864,
        -1.        , -1.        , -1.        ,  2.92462771, -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  1.17907237,
        -1.        ,  2.88216547, -1.        , -1.        , -1.        ],
       [ 1.23158707, -1.        , -1.        , -1.        , -0.79439817,
        -1.        , -2.76251458, -1.90486035, -1.        , -1.        ],
       [ 1.89753886, -1.        ,  3.7051673 , -1.        , -1.        ,
         1.76511008, -1.        ,  2.51617829, -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  2.91229214,
        -1.        , -1.        ,  1.81093273, -1.        ,  4.26417904],
       [ 2.21552049,  3.30649382, -1.        ,  4.7629813 , -1.        ,
        -1.        , -1.        ,  1.9761075 , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  1.39752285,
        -1.        ,  2.20477212, -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        , -1.        , -1.        ,
        -1.        , -1.        ,  1.12157483, -1.        ,  3.48629156],
       [-1.        , -1.        , -1.        , -1.        ,  1.3708062 ,
        -1.        , -1.        , -1.        ,  2.0422709 , -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  1.62005264,
        -1.        ,  0.5442944 ,  0.46741069, -1.        , -1.        ],
       [-1.        , -1.        ,  1.04308302, -1.        ,  3.91845808,
         1.49534268,  5.21823574, -1.        ,  2.14511256, -1.        ],
       [-1.        , -1.        , -1.        , -1.        ,  1.39708984,
        -1.        ,  2.20458852, -1.        , -1.        , -1.        ],
       [-1.        , -1.        ,  0.85839207, -1.        , -1.        ,
        -1.        , -1.        , -1.        , -1.        , -1.        ],
       [-1.        , -1.        , -1.        ,  4.86945049, -1.        ,
        -1.        ,  4.45229651, -1.        ,  3.22034067,  3.32983224],
       [-1.        , -1.        , -1.        , -1.        ,  1.93661524,
        -1.        ,  3.16069486, -1.        , -1.        , -1.        ]])

# Adding column name and indexes::

In [1]:
#Defing a list ranging 1-50 to add 50 users:

mylist = list(range(1,51))
print(mylist)

#Add indexes and column name:
Ratings=pd.DataFrame(R,columns=['movie1','movie2','movie3','movie4','movie5',
                                'movie6','movie7','movie8','movie9','movie10'],index=mylist)
print(Ratings)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

NameError: name 'pd' is not defined

# Sorting the ratings:

In [343]:
#For each user recommendation ratings are sorted:

def sorted_ratings():
    for i in range(len(mylist)):
        a=Ratings.iloc[i]
        print(a.sort_values(ascending=False))
sorted_ratings()

#We can pick top 2 or top 3 movies to send recommendation to users.

movie4     4.031168
movie8     3.068228
movie5     1.858435
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 1, dtype: float64
movie7     2.204142
movie5     1.396669
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 2, dtype: float64
movie3     4.448430
movie6     2.420402
movie8     0.980111
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie5    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 3, dtype: float64
movie4     5.260728
movie10    4.077025
movie2     2.605427
movie9    -1.000000
movie8    -1.000000
movie7    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie1    -1.000000
Name: 4, dtype: float64
movie5     4.618009
movie8     2.516340
movie1     1.250646
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
Name: 5, dtype: float64
movie4     4.169829
movie2     3.236508
movie9     3.084073
movie5     2.778274
movie3     2.645486
movie10   -1.000000
movie8    -1.000000
movie7    -1.000000
movie6    -1.000000
movie1    -1.000000
Name: 6, dtype: float64
movie5     3.964504
movie10    3.006071
movie1     1.626618
movie9    -1.000000
movie8    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
Name: 7, dtype: float64
movie7     2.882649
movie5     1.181767
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 8, dtype: float64
movie10    2.222776
movie1     1.529335
movie6     1.358126
movie9    -1.000000
movie8    -1.000000
movie7    -1.000000
movie5    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
Name: 9, dtype: float64
movie7     4.798565
movie5     0.536385
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
movie3    -2.050501
Name: 10, dtype: float64
movie7     2.206508
movie5     1.399443
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 11, dtype: float64
movie7     4.444786
movie5     2.794832
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 12, dtype: float64
movie9     4.140980
movie6     3.022398
movie10   -1.000000
movie8    -1.000000
movie7    -1.000000
movie5    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 13, dtype: float64
movie10    4.406103
movie9     4.139876
movie7     0.046114
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
movie5    -2.338809
Name: 14, dtype: float64
movie4     5.012908
movie5     3.623888
movie6     2.371364
movie8     2.312002
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 15, dtype: float64
movie7     4.956702
movie5     3.615645
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 16, dtype: float64
movie4     2.805323
movie7     1.134578
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 17, dtype: float64
movie4     4.280474
movie10    2.712598
movie2     1.060586
movie9    -1.000000
movie8    -1.000000
movie7    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie1    -1.000000
Name: 18, dtype: float64
movie3     3.590882
movie5     3.277469
movie8     1.905606
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 19, dtype: float64
movie10    5.072644
movie4     4.273145
movie1     2.691734
movie8     1.435489
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie2    -1.000000
Name: 20, dtype: float64
movie4     5.910381
movie8     3.331264
movie6     2.423105
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie5    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 21, dtype: float64
movie4     4.844210
movie7     4.672883
movie2     2.696640
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie1    -1.000000
Name: 22, dtype: float64
movie8     1.565922
movie5    -0.147209
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 23, dtype: float64
movie4     3.763352
movie7     2.044582
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 24, dtype: float64
movie7     2.971186
movie5     0.951775
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 25, dtype: float64
movie7     2.439407
movie6     2.429646
movie3    -0.448699
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
movie5    -1.190378
Name: 26, dtype: float64
movie4     3.438514
movie6     2.136723
movie3    -0.430444
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie7    -1.000000
movie5    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 27, dtype: float64
movie7     4.955455
movie5     3.613723
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 28, dtype: float64
movie8     1.047642
movie3     0.378915
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
movie5    -1.449658
Name: 29, dtype: float64
movie10    2.853258
movie1     1.999872
movie4     1.851919
movie8     1.531139
movie3    -0.367516
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie2    -1.000000
movie5    -1.456927
Name: 30, dtype: float64
movie4     4.663083
movie6     1.407145
movie3     0.879546
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie7    -1.000000
movie5    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 31, dtype: float64
movie7     3.161934
movie5     1.938123
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 32, dtype: float64
movie4     3.865862
movie7     1.863602
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 33, dtype: float64
movie4     3.996901
movie7     3.217984
movie2     1.125574
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie1    -1.000000
Name: 34, dtype: float64
movie8     3.367362
movie9     1.415196
movie5     0.233458
movie10   -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
movie3    -2.073072
Name: 35, dtype: float64
movie5     4.301629
movie9     2.924628
movie1     2.100311
movie10   -1.000000
movie8    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
Name: 36, dtype: float64
movie7     2.882165
movie5     1.179072
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 37, dtype: float64
movie1     1.231587
movie5    -0.794398
movie10   -1.000000
movie9    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie8    -1.904860
movie7    -2.762515
Name: 38, dtype: float64
movie3     3.705167
movie8     2.516178
movie1     1.897539
movie6     1.765110
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie5    -1.000000
movie4    -1.000000
movie2    -1.000000
Name: 39, dtype: float64
movie10    4.264179
movie5     2.912292
movie8     1.810933
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 40, dtype: float64
movie4     4.762981
movie2     3.306494
movie1     2.215520
movie8     1.976108
movie10   -1.000000
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
Name: 41, dtype: float64
movie7     2.204772
movie5     1.397523
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 42, dtype: float64
movie10    3.486292
movie8     1.121575
movie9    -1.000000
movie7    -1.000000
movie6    -1.000000
movie5    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 43, dtype: float64
movie9     2.042271
movie5     1.370806
movie10   -1.000000
movie8    -1.000000
movie7    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 44, dtype: float64
movie5     1.620053
movie7     0.544294
movie8     0.467411
movie10   -1.000000
movie9    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 45, dtype: float64
movie7     5.218236
movie5     3.918458
movie9     2.145113
movie6     1.495343
movie3     1.043083
movie10   -1.000000
movie8    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 46, dtype: float64
movie7     2.204589
movie5     1.397090
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 47, dtype: float64
movie3     0.858392
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie7    -1.000000
movie6    -1.000000
movie5    -1.000000
movie4    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 48, dtype: float64
movie4     4.869450
movie7     4.452297
movie10    3.329832
movie9     3.220341
movie8    -1.000000
movie6    -1.000000
movie5    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 49, dtype: float64
movie7     3.160695
movie5     1.936615
movie10   -1.000000
movie9    -1.000000
movie8    -1.000000
movie6    -1.000000
movie4    -1.000000
movie3    -1.000000
movie2    -1.000000
movie1    -1.000000
Name: 50, dtype: float64

# Top 2 recommended movie for a specific user:

In [348]:
def top_2_recommendations_for_user(user_id):
        #Using loc to get index based values:
        a=Ratings.loc[user_id].sort_values(ascending=False)
        if a[0]>0 and a[1]>0: 
            print(a[0:2])
        if a[0]>0 and a[1]<0: 
            print(a[0:1])
        if a[0]<0: 
            print("No Recommendation")
top_2_recommendations_for_user(3)   

#There is no user who has watched all the movies
#Try only one recommendation with movie 48
#Try two recommendation with movie 1

movie3    4.448430
movie6    2.420402
Name: 3, dtype: float64